.outer {
    width: 200px;
    height: 120px;
    border: solid;
    background-color: gray;
    padding: 10px;
}

.inner {
    width: 200px;
    height: 25px;
    border: solid;
    background-color: white;
}

.button {
    width: 50px;
    height: 50px;
    border: solid;
    background-color: white;
}

#cbutton {
    color: white;
    background-color: red;
}

#plus {
    color: white;
    background-color: black;
}

#minus {
    color: white;
    background-color: black;
}

#multiply {
    color: white;
    background-color: black;
}

#divide {
    color: white;
    background-color: black;
}